<h1>"I want to learn Rails"</h1>
<h3>Rails Masterclass</h3>
<h4>Philadelphia, PA - Coming Winter 2013</h4>

<div id="mc_embed_signup">
<form action="http://brandonhilkert.us7.list-manage.com/subscribe/post?u=34ccc3aa2135746d0231c9420&amp;id=7544bdd35e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <label for="mce-EMAIL">Enter your email below to be notified when details are available:</label>
  <br />
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required>
	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<div class="teachers">
  <div class="profile">
    <a href="http://twitter.com/brandonhilkert" target="_blank" title="Brandon Hilkert">
      <img src="/images/brandon-hilkert.png" alt="Brandon Hilkert" />
    </a>
    <br />
    <a href="http://twitter.com/brandonhilkert" target="_blank" title="Brandon Hilkert">
      @brandonhilkert
    </a>
  </div>
  <div class="profile">
    <a href="http://twitter.com/jearvon" target="_blank" title="Jearvon Dharrie">
      <img src="/images/jearvon-dharrie.png" alt="Jearvon Dharrie" />
    </a>
    <br />
    <a href="http://twitter.com/jearvon" target="_blank" title="Jearvon Dharrie">
      @iamjarvo
    </a>
  </div>
</div>
<!--End mc_embed_signup-->
