<!DOCTYPE html>
<html>
  <head>
    <title>Philadelphia Rails Masterclass</title>
    <meta name="description" content="Learn Ruby on Rails with the Philadelphia Rails Masterclass coming to Philadelphia Winter 2013." />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/style.css" rel='stylesheet' type="text/css" />
  </head>
  <body>
    <h1>Learning Ruby on Rails just got easier.</h1>
    <section class="class-info">
      <h3>Rails Masterclass</h3>
      <h4>Philadelphia, PA - Coming Winter 2013</h4>
      <div id="mc_embed_signup">
      <form action="http://brandonhilkert.us7.list-manage.com/subscribe/post?u=34ccc3aa2135746d0231c9420&amp;id=7544bdd35e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <label for="mce-EMAIL">Enter your email below to be notified when details are available:</label>
        <br />
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </form>
      </div>
    </section>
  </body>
</html>
