<!DOCTYPE html>
<html>
  <head>
    <title>Philadelphia Rails Masterclass</title>
    <meta name="description" content="Learn Ruby on Rails with the Philadelphia Rails Masterclass coming to Philadelphia Winter 2013." />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />   <title>Sinatra Application</title>
    <link href='//fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link href="/stylesheets/style.css" rel='stylesheet' type="text/css" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
